    <div class="clock" id="clock">00:00:00</div>

    <!-- 🌤️ Wetter -->
    <div class="weather" id="weather">
        --°C<br>Loading...
    </div>

    <div class="container">
        <div class="left-section">
            <div class="text">
                Hello <span class="accent">World</span>
            </div>
        </div>

        <div class="heart"></div>

        <div class="right-section">
            <img src="/img/harfenolm.png" alt="Decoration" class="side-image">
        </div>
    </div>
    <script src="/js/weatherAndClock.js"></script>
