    <div class="clock" id="clock">00:00:00</div>

    <div class="weather" id="weather">
        --°C<br>Loading...
    </div>

    <div id="date-display"></div>
    <div id="day-info"></div>

    <div class="container">
        <div class="top-section">
            <div class="left-section">
                <div class="small-text" id="todo-list">
                    Lade Todos...
                </div>
            </div>

            <div class="heart"></div>

            <div class="right-section">
                <img src="/img/harfenolm.png" alt="Decoration" class="side-image">
            </div>
        </div>

        <div class="bottom-section">
            <div class="text">
                Hello <span class="accent">World</span>
            </div>
        </div>
    </div>
    <script src="/js/days.js"></script>
    <script src="/js/weatherAndClock.js"></script>
    <script src="/js/todo-display.js"></script>
